@import '_vars';
@import 'modules/_header';
@import 'modules/_content';
@import 'modules/_footer';


div 
{
	margin: 0;
	padding: 0;
}

img
{
	border: none; 
	margin: 0;
	padding: 0;
}
